* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}
.align-items {
  align-items: center;
}
.justify-content {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}
.flex-direction {
  flex-direction: column;
}

.gap-30 {
  gap: 30px;
}

.container {
  width: 100vw;
  border: 1px solid greenyellow;
}

/* headers */
.header {
  width: 90%;
  justify-content: space-between;
}

.news {
  display: flex;
}

.news ul {
  display: flex;
  align-items: center;
}
ul {
  list-style-type: none;
}
li {
  margin: 0 16px;
  position: relative;
}

li:hover {
  background-color: blue;
}

a {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.navSearchIcon {
  margin: 0 16px;
}

.navWeatherDollar {
  font-size: 18px;
  color: #2adb00;
}

.weather {
  display: flex;
}

.navWeatherText {
  font-weight: 300;
  font-size: 12px;
}

.header-right {
  margin: 30px 0;
}

/* Gogo */
.gogo {
  width: 100%;
  background: linear-gradient(to bottom, #fff 0%, #f7f7f7 100%);
  width: 100%;
  border: 1px solid purple;
}

.gogo-home {
  box-sizing: border-box;
  width: 90%;
}

.home-half {
  width: 50%;
}

.gradient {
  margin: 20px 4px;
  border-radius: 16px;
  padding: 24px;
  background: linear-gradient(to left, #fff 0%, #f7f7f7 100%);
}

.icon {
  font-size: 16px;
  color: #c6c6c6;
}

/* GoGo Story */
.story {
  height: 100vh;
}
