* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}
.flex-4 {
  flex: 4;
}
.align-item {
  align-items: center;
}
.justify-content {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}

.header {
  margin: 30px 0;
}
.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
}
ul {
  list-style-type: none;
  margin-left: 20px;
}

ul li {
  padding: 0 15px;
}

li p {
  font-size: 16px;
  font-weight: 600;
  padding-right: 8px;
}

.navbar-nav p {
  font-size: 12px;
  font-weight: 300;
}

.nav-icon {
  margin-top: 4px;
}

.nav-icon span {
  font-size: 18px;
  font-weight: 500;
}

.gogo {
  width: 100vw;
  background: linear-gradient(360deg, #f8f7f7 0%, #fff 50%);
}

.gogo-news {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
}
.gogo-left {
  border-radius: 8px;
  background: red;
  padding: 50px 0 0 40px;
  background: linear-gradient(90deg, #f4f4f4 0%, #fff 50%);
}

.gogoTitle {
  padding: 8px 16px;
  color: #fff;
  background: linear-gradient(90deg, red 0%, orange 100%);
  width: fit-content;
  border-radius: 16px;
}
.gogoTitle span {
  font-size: 12px;
}

.gogoShare {
  padding: 6px 10px;
  border-radius: 16px;
  margin-right: 10px;
}
.gogoShare-background {
  background-color: #f0efef;
}

.gogo-left h2 {
  font-size: 26px;
  margin: 10px 0 20px;
  padding: 10px 30px 0 0;
}

.gogo-left p {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  margin: 10px 0 20px;
  opacity: 0.4;
}

.zoom-image {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 6px;
}

.zoom-image:hover .overlay {
  opacity: 0.5;
}

.zoom-image img {
  transition: 0.3s;
}

.zoom-image:hover img {
  transform: scale(1.1);
}

.overlay {
  gap: 10px;
  color: #fff;
  position: absolute;
  opacity: 0;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.gogo-bottom {
  width: 100%;
  gap: 15px;
  margin-top: 30px;
  padding-bottom: 50px;
}

.gogo-bottom-img {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
}

.gogo-bottom-img:hover .overlay-bottom {
  opacity: 0.5;
}

.gogo-bottom-img img {
  transition: 0.3s;
  border-radius: 8px;
  height: 100%;
}

.gogo-bottom-img:hover img {
  transform: scale(1.1);
}

.overlay-bottom {
  color: #fff;
  position: absolute;
  opacity: 0;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

/* GoGo story  */
.story {
  width: 100vw;
}
.storyBlue {
  background-color: #00b0f4;
  padding: 2px 4px;
  color: #fff;
  border-radius: 4px;
  margin-left: 8px;
  text-transform: uppercase;
}

.story-top {
  width: 1200px;
  margin: auto;
  padding: 0 40px;
}
.story-top:first-child {
  margin-top: 40px;
}

.story-cards {
  margin-top: 40px;
  width: 100%;
  gap: 15px;
  border-radius: 16px;
}

.story-card {
  position: relative;
  height: 235px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
  background-color: #000;
}

.story-card:hover .storyContent-text-container {
  transform: translateY(-10px);
  transition: 0.5s ease-out;
  height: fit-content;
}

.story-card img {
  border-radius: 8px;
  object-fit: cover;
  transition: 0.3s;
}

.story-card:hover img {
  transform: scale(1.1);
}

.story-card-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
}
.storyContent-text-container {
  height: 34px;
  overflow: hidden;
}

.storyContent-text {
  height: fit-content;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  transition: 0.5s;
}

.storyContent-icon {
  margin-top: 8px;
}

/* today news start */

.storyToday {
  width: 1200px;
  margin: auto;
  padding: 0 40px;
}

.today {
  border-right: 1px solid #f5f5f5;
  margin-top: 40px;
  flex: 3;
  padding-right: 24px;
  flex-direction: column;
  gap: 28px;
}

.todayNav-title {
  text-align: center;
  color: #407ce8;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
  font-weight: 600;
}

.todayNav-days {
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  margin-bottom: 28px;
}

.todayNav-day {
  width: 100%;
  gap: 14px;
}

.day {
  gap: 4px;
}
.day:first-child .line {
  border: 3px solid #407ce8;
}
.day:first-child .day-creatAt {
  color: #407ce8;
}

.day:hover .line {
  border: 3px solid #407ce8;
}
.day:hover .day-creatAt {
  color: #407ce8;
}
.line {
  width: 100%;
  border: 3px solid #efefef;
  border-radius: 4px;
}

.day-creatAt {
  color: #b7b6b6;
  font-size: 13px;
  text-align: center;
  font-weight: 300;
}
.todayIcon {
  color: #6c6c6c;
  padding: 6px 8px;
  border-radius: 6px;
  background-color: #efefef;
}

.todayNews-Carts {
  flex-direction: column;
  gap: 42px;
}
.newsCart-content {
  gap: 32px;
  height: 150px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.newsCart-content:hover .newsCart-content-overlay {
  opacity: 0.5;
}

.newsCart-content-img img {
  border-radius: 8px;
  object-fit: cover;
  transition: 0.3s;
}

.newsCart-content-img {
  height: 100%;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.newsCart-content-img:hover img {
  transform: scale(1.1);
}

.newsCart-content-overlay {
  gap: 10px;
  color: #fff;
  position: absolute;
  opacity: 0;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  border-radius: 8px;
}

.newsCart-content-text {
  flex: 2;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.newsCart-content-text h3 {
  font-size: 19px;
  font-weight: 700;
  line-height: 26px;
}
.newsCart-content-text p {
  height: 46px;
  font-weight: 300;
  overflow: hidden;
  color: #888;
}

.ontsloh-medee {
  flex: 1;
}

.today-SeeMore {
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
}

.today-SeeMore span {
  font-weight: 700;
  font-size: 16px;
}

.today-SeeMore:hover {
  background-color: white;
}

.today-SeeMore:hover span {
  color: #1e87f0;
  transition: 0.7s;
}

/* highlight news start */
.highlightTop {
  padding-left: 30px;
  width: 100%;
  padding-top: 48px;
  padding-bottom: 30px;
}

.highlightTop-title {
  margin-bottom: 50px;
}

.highlightTop-title span {
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
}

.highlight-carts {
  flex-direction: column;
  gap: 14px;
}

.highlight-cars:hover {
  background-color: #000;
}

.highlight-cart-img {
  width: 100%;
  position: relative;
}

.highlight-cart-img:hover .highlight-overlay {
  opacity: 0.5;
}

.highlight-cart-img img {
  border-radius: 12px;
}

.highlight-overlay {
  gap: 10px;
  color: #fff;
  position: absolute;
  opacity: 0;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  border-radius: 8px;
}

.highlight-cart-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

/* highlight new tred news  */

.trendNews {
  width: 100%;
  background-color: #fdfaf5;
  padding-bottom: 26px;
}

.trendNewsTitle {
  padding: 30px 0;
}
.trendNewsTitle span {
  font-size: 20px;
  font-weight: 700;
  padding-left: 8px;
}

.trendNewss {
  padding: 0 40px;
}

.trendNewss h1 {
  font-size: 46px;
  font-weight: 700;
  color: red;
  padding-right: 15px;
}

.trendNewss-cart-content {
  padding-bottom: 14px;
  /* margin-bottom: 14px; */
  flex-direction: column;
  gap: 14px;
}

.trendNewss-cart-content p {
  font-weight: 300;
}

.trendNewss-cart {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
}

.trendNewss-cart-gap {
  gap: 14px;
}

/* talking content grid css */

.talking {
  width: 1200px;
  padding: 0 40px;
  margin: auto;
}

.talkingCart {
  position: relative;
  height: 100%;
}

.talkingCart-img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
.talkingCart-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  color: white;
  padding: 30px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
}

.talking-carts {
  height: 500px;
  display: grid;
  gap: 8px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "cart1 cart1 cart2 cart3" " cart1 cart1 cart4 cart5";
}

.talkingCart:hover .talkingCart-desc p {
  padding-right: 24px;
}

.talkingCart-content-title {
  background-color: #1e87f0;
  width: fit-content;
  padding: 8px 4px;
  border-radius: 4px;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.talkingCart-desc {
  margin-top: 20px;
  border-top: 1px solid #888;
  padding-top: 12px;
}

.talkingCart-desc p {
  padding-right: 12px;
  transition: 0.4s;
}

.talking-cart1 {
  grid-area: cart1;
  height: 100%;
}
.talkingCart-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* style section */
.style {
  width: 1200px;
  padding: 0 40px;
  margin: auto;
}

.style-story-top {
  margin: 24px 0;
}

.styleCarts {
  gap: 14px;
  margin-bottom: 32px;
}
.styleCart {
  width: 100%;
  border: 1px solid #b7b6b6;
  border-radius: 8px;
}

.styleCart-img img {
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.styleCart-content {
  padding: 14px;
}

.styleCart-content-text {
  height: 72px;
  overflow: hidden;
  border-bottom: 1px solid #f5f5f5;
}

.styleCart-content-share {
  margin-top: 16px;
}

/* video carts  */

.video {
  width: 100vw;
  height: 400px;
  background-color: #000;
}

.video-container {
  background-color: #fdfaf5;
  width: 1180px;
  height: 100%;
  margin: auto;
}

.videoCarts {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "cart cart cart cart" "cart cart cart cart";
  gap: 29px;
}

.videoCart {
  height: 170px;
  width: 100px;
  grid-area: cart;
  background-color: #00b0f4;
}

.videoCart-img {
  width: 100%;
  height: 100%;
}
