* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #303030;
}

body {
  /* box-sizing: border-box; */
  background-color: #f4f4f4;
}

.header {
  width: 100vw;
  background-color: #000;
  text-align: center;
}

.imageLogo {
  padding: 8px 0;
}

.main {
  text-align: center;
}

.trips {
  margin: 80px 0 276px;
  text-align: center;
}

.trips--title {
  font-size: 80px;
  font-weight: 800;
  line-height: 97.5px;
  color: #303030;
  width: 400px;
  margin: auto;
  padding-bottom: 40px;
}

.trips-img {
  display: inline-block;
  padding: 0 33px;
}

.tours {
  position: relative;
  text-align: start;
  margin: 0 120px;
}

.titles {
  width: 358px;
  padding-bottom: 128px;
}

.greenTitle {
  font-size: 32px;
  color: #1ac74a;
  font-family: serif;
}

.subtitle {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

.button {
  width: 400px;
  border: 1px solid #303030;
  border-radius: 12px;
  padding: 20px;
  margin: 10px 0;
  cursor: pointer;
}

.button:hover {
  background-color: #101010;
  color: #e3e3e3;
}

.btn-day {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.city {
  display: inline-block;
  text-align: end;
  margin: auto;
}

.city--title {
  font-size: 16px;
  line-height: 20px;
}

.city--desc {
  font-size: 12px;
  line-height: 14.5px;
  color: #777;
}
.tours--imgs {
  position: absolute;
  top: 0;
  left: 50%;
}

.tours--imgs-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 598px;
  height: 800px;
}

.pricing {
  margin: 200px 0 128px 0;
}

.pricing--title {
  width: 300px;
  margin: 0 auto 80px;
}

.pricing--subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.table {
  text-align: start;
  width: 308px;
  border: 2px solid #18ba51;
  padding: 20px;
  padding: 20px;
  display: inline-block;
  border-radius: 8px;
  margin: 0 20px;
  background-color: #fff;
}

.table-header {
  margin-bottom: 80px;
}
.table-title {
  font-size: 32px;
  line-height: 40px;
}

.tables {
  padding: 40px 0;
  display: block;
}

.tables li {
  color: #777;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  padding: 7px 0;
  width: fit-content;
}
.table li:hover {
  font-weight: 700;
}

.ready {
  text-align: center;
  background-color: #303030;
  margin: auto;
  padding: 40px 0;
}

.ready--title {
  color: #fff;
  padding-bottom: 20px;
}

.ready--btn {
  background-color: #18ba51;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ready--btn a {
  text-decoration: none;
  color: #fff;
}

.footer {
  background-color: #000;
  padding: 80px 120px;
  margin: auto;
}

.footer-social {
  display: inline-block;
  margin: auto;
}

.footer-social {
  display: inline-block;
}

.social-logo {
  background-color: #303030;
  margin: 0 10px;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
}

.footer-items {
  display: inline-block;
  color: #fff;
}

@media screen and (max-width: 745px) {
  .header {
    background-color: #1ac74a;
  }

  .trips--title {
    font-size: 64px;
    line-height: 78px;
  }

  .trips-img {
    padding: 40px;
  }

  .trips-img img {
    height: 250px;
  }

  .buttons {
    text-align: center;
  }

  .tours--imgs {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .header {
    background-color: red;
  }
  .trips--title {
    width: 242px;
    font-size: 48px;
    line-height: 58px;
  }
  .trips-img {
    padding: 10px;
  }
  .trips-img img {
    width: 148px;
    height: 148px;
  }
  .tours {
    margin: 0;
    text-align: center;
  }

  .titles {
    padding-bottom: 40px;
  }

  .greenTitle {
    font-size: 16px;
    line-height: 16px;
  }
  .subtitle {
    font-size: 32px;
    line-height: 39px;
  }
  .buttons {
    text-align: center;
  }

  .button {
    text-align: center;
    width: 312px;
    padding: 10px;
    padding: 30px;
  }
}
